<!DOCTYPE html>
<html>
<head>
<title>tracks</title>
<script src="tracks.js"></script>
<style>
	.track {
		margin: 20px;
	}
</style>
</head>
<body>
{% for track in audio_features %}
<div class="track">
	<div><b>{{ track.name }}</b></div>
	<div>tempo: {{ track.tempo }}</div>
	<div>id: {{ track.id }}</div>
	<div>acousticness: {{ track.acousticness }}</div>
	<div>danceability: {{ track.danceability }}</div>
	<div>duration: {{ track.duration_ms / 1000 }}</div>
	<div>energy: {{ track.energy }}</div>
	<div>speechiness: {{ track.speechiness }}</div>
	<div>instrumentalness: {{ track.instrumentalness }}</div>
	<div>liveness: {{ track.liveness }}</div>
	<div>valence: {{ track.valence }}</div>
</div>
{% endfor %}
</body>
</html>